* {
    margin: 0px;
    padding: px;
    color: rgba(255, 255, 255, 0.87);
}
body{ 
    text-decoration: none;
    font-family: sans-serif;
    background-color: #222222;;
}
.homepage{
    padding-top: 2%;
    padding-left: 14%;
    font-size: larger;
}
.intro{
	padding-left: 39%;
    font-size: 374%;
    font-weight: 900;
    padding-top: 8%;
}
.matter{
    width: 50%;
    padding-left: 26%;
    padding-top: 12%;
    line-height: 29px;
    font-size: larger;
}
.mainpage{
    padding-top: 9%;
    padding-left: 13%;
    font-size: smaller;
}